@import "mixin";
html{width: 100%;color:#333;background-color: #fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-family:PingFangSC-Regular,'微软雅黑',sans-serif;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-box-sizing:border-box;box-sizing:border-box}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ins,a{text-decoration:none}
.grayBg{
    background: #F0F0F0;
}
.color{
    color: #333
}
.border_color{
    border-color: #563bd1;
}
.purple_bg{
    background: #2E1B85;
    color: rgba(255,255,255,.8);
}
.blue_bg{
    background:  #194B64!important;
    color: #fff!important;
}
.deep_blue{
    color: #113344!important;
}
.light_blue{
    color: #194B64!important;
}
.bdr_color{
    border-color:#194B64!important;
}
.gray{
    color: #7C8EA7!important;
}
.red{
    color: #de5959;
}
html,body{
    width: 100%;
    min-height: 100%;
    min-width: 1200px;
}
a{
	color:inherit;
}
input{
	border:0;
    outline:0;
    // #181b2a
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {    -webkit-appearance: none;} input[type="number"] {    -moz-appearance: textfield;

}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
.clear{
	zoom:1;
}
.hide{
	display: none !important;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.flex{
    display: -webkit-box;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
}
.column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}
.flex1{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.flex2{
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}
.alcenter{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.around{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.end{
    -webkit-box-pack: flex-end;
        -ms-flex-pack: flex-end;
            justify-content: flex-end;
}
.tc{
	text-align: center;
}
.tr{
	text-align: right;
}
.inblock{
	display: inline-block;
}
.theme_color{
  color:$theme_color !important;
}
.positionR{
    position: relative;
}
.scroll::-webkit-scrollbar {
    width: 6px;
    // background-color: #161d28;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    // background-color: #222639;
}
.white{color: #fff;}
.w50{width: 50%;}
.ft12{font-size: 12px;}
.ft14{font-size: 14px;}
.ft16{font-size: 16px;}
.ft18{font-size: 18px;}
.ft20{font-size: 20px;}
.ft24{font-size: 24px;}
.ft26{font-size: 26px;}
.ml40{margin-left: 40px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt40{margin-top: 40px;}
.mt60{margin-top: 60px;}
.mt50{margin-top: 50px;}
.mt80{margin-top: 80px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr60{margin-right: 60px;}
.mr90{margin-right: 90px;}
.mr120{margin-right: 220px;}
.mr100{margin-right: 300px;}
.mt3{margin-top:3px;}
.mt10{margin-top:10px;}
.mt15{margin-top: 15px;}
.ml10{margin-left: 10px;}
.ml25{margin-left: 25px;}
.mb50 {margin-bottom: 50px;}
.mb40 {margin-bottom: 40px;}
.mb30 {margin-bottom: 30px;}
.mb15 {margin-bottom: 15px;}
.mb10 {margin-bottom: 10px;}
.ml30 {margin-left: 30px;}
.ml20 {margin-left: 20px;}
.ml100 {margin-left: 300px;}
.pdlr20{padding-left: 20px;padding-right: 20px;}
.pdtb20{padding-top: 20px;padding-bottom: 20px;}
.pdt20{padding-top: 20px;}
.pdb20{padding-bottom: 20px;}
.pb50{padding-bottom: 50px;}
.w5{width: 5%;}
.w6{width: 6%}
.w8{width: 8%}
.w10{width: 10%}
.w11{width: 11%}
.w14{width:14%}
.w15{width: 15%}
.w16{width: 16%}
.w18{width: 18%}
.w20{width: 20%}
.w25{width: 25%}
.w30{width: 30%}
.w12{width: 12%}
.w18{width: 18%}
.w90{width: 90%;}
.w100 {width: 100%;}
.lodw20{width: 20px;}
.bold{font-weight: bold}
.fColor1 {color: #c7cce6;}
.fColor2 {color: #637085;}
.fColor3{color: #61688a}
.fColor4{color: #4e546f}
.gray9{
    color: #999;
}
button{border: none;outline: none;}
// .baseColor {color: #7a98f7;}
.bgf8{background: #f8f8f8;}
.ceilColor{color: #459E80;}
.redColor{color: #FF6E42}
.redBg{background: #d45858;color:#fff}
.curPer{cursor: pointer;}
// .contentBK{background-color: #181b2a}
// .topshadow{box-shadow: 0 3px 6px rgba(0,0,0,.1);}
// .ttBk{background-color: #1b1e2e;}
.active{color: #d45858;border-bottom: 1px solid #d45858;}
.baseBtn {
    background-color: rgb(86, 151, 244);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}
.main .baseBtn{width: 428px;}
.base {color: #7a98f7;}
.mouseDefault {cursor: pointer;}
.baseborderBtn, .baseBtn {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    cursor: default;
}
.account-title {
    height: 48px;
    line-height: 48px;
    padding: 0 50px;
    // background-color: #181b2a;
    // color: #cdd6e4;
}
.account {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.account-main{
    width: 1270px;
    min-height: 600px;
    // background-color: #181b2a;
    float: right;
    padding-bottom: 20px;
}
.back-nav {
    height: 72px;
    // background-color: #181b2a;
    line-height: 72px;
    padding: 0 30px;
    border-radius: 3px;
}
.nav-after{
    display: block;
    height: 10px;
    // background-color: #262a42;
}
.account-content {
    width: 100%;
    min-height: 750px;
    // background-color: #181b2a;
}
.positionR {
    position: relative;
}
.pageBack {
    // background-color: #262a42;
}
.bb_shadow{
    // box-shadow: 0 5px 5px #1b1e2e;
}
// .brcolor{border-right: 1px dashed #ccc}

// .bg-main{
//     background: #262a42 !important; 
// }
// .bg-part{
//     background: #181b2a !important;
// }
// .clr-part{
//     color: rgba(255,255,255,.8) !important;
// }
// .bdr-part{
//     border-color: #2e355d !important;
// }
// .bg-even{
//     background: #1a1f2f !important;
// }
// .bg-hov:hover,.bg-sel{
//     background: #2d3346 !important;
// }
// .layerBg{
//     background: #0f1019!important;
// }



body {

	.bg-main {
		background: #f2f3f8 !important;
	}

	.clr-part {
		color: #333 !important;
	}

	.bg-part {
		background: #fff !important;
	}

	.bdr-part {
		border-color: #ccc !important;
	}

	.bg-even {
		background: #f3f3f3 !important;
	}

	.bg-hov:hover,
	.bg-sel {
		background: #ddd !important;
	}

	.layerBg {
		background: #fff !important;
	}

	#app {}
}
.pass-box{
    position: relative;
    width: 521px;
    img{
        position: absolute;
        width: 25px;
        right: 10px;
        top: 33px;
        z-index: 999;
        cursor: pointer;
    }
}
